#{extends 'main.html' /} #{set title:'Homer for President!' /}
<!-- INFORMS USER THAT THEIR DONATION HAS BEEN PROCESSED -->
<!-- Menu -->
<section class="ui three item menu">
	<a class="active item" href="/donate"><h3>Donate</h3></a>
	<a class="item" href="/report"><h3>Report</h3></a>
	<a class="item" href="/logout"><h3>Log out</h3></a>
</section>

<section class="ui segment">
  <h3>Your donation has been successfully processed, Thank you.</h3>
</section>