#{extends 'main.html' /} #{set title:'Uh oh!' /}
<!-- INFORMS USER THAT THEIR DONATION HAS NOT PROCESSED -->
<!-- Menu -->
<section class="ui three item menu">
	<a class="active item" href="/donate"><h3>Donate</h3></a>
	<a class="item" href="/report"><h3>Report</h3></a>
	<a class="item" href="/logout"><h3>Log out</h3></a>
</section>

<section class="ui segment">
  <h3>There has been an issue in processing your donation</h3>
  <h3>it has been cancelled, please try again, Thank you.</h3>
</section>