#{extends 'main.html' /} #{set title:'Homer for President' /}
<!-- DONATION PAGE -->
<!-- Menu -->
<section class="ui three item menu">
	<a class="active item" href="/donate"><h3>Donate</h3></a>
	<a class="item" href="/report"><h3>Report</h3></a>
	<a class="item" href="/logout"><h3>Log out</h3></a>
</section>

<section class="ui segment">
	<h1>Let's help Homer</h1>
	<h3>Please give generously</h3>
	<p>Select an amount</p>
	<form action="/makeDonation/${user.id}" method="POST">
		<div class="ui form">
			<select name="amount" class="ui search dropdown">
				<option value="">Select an amount</option>
				<option value=50 name="amount">$50</option>
				<option value=100 name="amount">$100</option>
				<option value=200 name="amount">$200</option>
				<option value=500 name="amount">$500</option>
				<option value=1000 name="amount">$1000</option>
				<option value=5000 name="amount">$5000</option>
			</select>
			<div class="grouped fields">
				<label>Please select a payment method:</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="method" value="paypal"><label>PayPal</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="method" value="direct"><label>Direct</label>
					</div>
				</div>
			</div>
			<button class="ui fluid blue submit icon button">Donate Now!</button>
		</div>
	</form>
</section>
<div class="ui indicating progress">
  <div class="bar" style="width:${progress}%"></div>
  <div class="label">Homer's Election Fund</div>
</div>