#{extends 'main.html' /} #{set title:'Uh oh!' /}
<!-- DISPLAYS THE RECORD OF ALL DONATIONS -->
<!-- Menu -->
<section class="ui three item menu">
	<a class="item" href="/donate"><h3>Donate</h3></a>
	<a class="active item" href="/report"><h3>Report</h3></a>
	<a class="item" href="/logout"><h3>Log out</h3></a>
</section>

<section class="ui segment">
	<h3>Donations List</h3>
	<div class="ui three column grid">
		<div class="ui row">
			<div class="ui column">
				<div class="ui content">
					<p>
						<b>Donors</b>
					</p>
				</div>
			</div>
			<div class="ui column">
				<div class="ui content">
					<p>
						<b>Amount ($)</b>
					</p>
				</div>
			</div>
			<div class="ui column">
				<div class="ui content">
					<p>
						<b>Method Donated</b>
					</p>
				</div>
			</div>
		</div>
		#{list donations, as:'donation'}
		<div class="ui row">
			<div class="ui column">
				<div class="ui content">
					<p>${donation.benefactor.firstName + " " +
						donation.benefactor.lastName}</p>
				</div>
			</div>
			<div class="ui column">
				<div class="ui content">
					<p>${donation.amount}</p>
				</div>
			</div>
			<div class="ui column">
				<div class="ui content">
					<p>${donation.methodDonated}</p>
				</div>
			</div>
		</div>
		#{/list}
	</div>
</section>