#{extends 'main.html' /} #{set title:'Welcome' /}
<!-- DONATION LANDING PAGE -->
<!-- Menu -->
<section class="ui two item menu">
	<a class="item" href="/signup"><h3>Sign up</h3></a>
	<a class="item" href="/login"><h3>Log in</h3></a>
</section>

<!--  Main segment -->
<section class="ui segment">
	<h1>Welcome</h1>
	<div class="ui stackable two column grid segment">
		<div class="ui column">
			<img class="ui medium circular image"
				src="../../public/images/homer-simpson.jpg">
		</div>
		<div class="ui column">
			<p>Homer for President</p>
			<p>Time for a change</p>
			<p>Out with the old</p>
			<p>In with Homer</p>
			<p><a href="/signup">Register</a> or <a href="/login">log in</a></p>
			<p>We look forward to your generous contribution</p>
		</div>
	</div>
</section>