#{extends 'main.html' /} #{set title:'Uh oh!' /}
<!-- CHECK PAGE - INFORMS USER OF STIPULATIONS OF REGISTRATION-->
<!-- Menu -->
<section class="ui three item menu">
	<a class="item" href="/"><h3>Home</h3></a>
	<a class="active item" href="/signup"><h3>Sign up</h3></a>
	<a class="item" href="/login"><h3>Log in</h3></a>
</section>

<section class="ui segment">
  <p>To register with this site, please</p>
  <p><b>confirm you are a US citizen</b> and </p>
  <p><b>agree to the conditions</b>, Thank you.</p>
</section>