#{extends 'main.html' /} #{set title:'Log in to Donate' /}
<!-- LOG IN PAGE -->
<!-- Menu -->
<section class="ui three item menu">
	<a class="item" href="/"><h3>Home</h3></a>
	<a class="item" href="/signup"><h3>Sign up</h3></a>
	<a class="active item" href="/login"><h3>Log in</h3></a>
</section>

<section class="ui segment">
<form action="/authenticate" method="POST">
    <div class="ui fluid form segment">
      <h3 class="ui header">Log-in</h3>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" name="email" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <button type="submit" class="ui blue submit button">Login</button>
    </div>
</form>
</section>