#{extends 'main.html' /} #{set title:'Sign up to Donate' /}
<!-- LOGOUT PAGE -->
<!-- Menu -->
<section class="ui three item menu">
	<a class="item" href="/"><h3>Home</h3></a>
	<a class="item" href="/signup"><h3>Sign up</h3></a>
	<a class="item" href="/login"><h3>Log in</h3></a>
</section>

<section class="ui segment">
<h3>You are now successfully logged out, thank you for supporting Homer.</h3>
</section>