#{extends 'main.html' /} #{set title:'Sign up to Donate' /}
<!-- SIGN UP PAGE -->
<!-- Menu -->
<section class="ui three item menu">
	<a class="item" href="/"><h3>Home</h3></a>
	<a class="active item" href="/signup"><h3>Sign up</h3></a>
	<a class="item" href="/login"><h3>Log in</h3></a>
</section>

<section class="ui segment">
<form action="/register" method="POST">
    <div class="ui form segment">
      <h3 class="ui header">Sign Up</h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" name="user.firstName" type="text">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" name="user.lastName" type="text">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" name="user.email" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" id="password" name="user.password">
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input id="conditions" type="checkbox" name="user.conditions">
          <label for="conditions">I agree to the terms and conditions</label>
        </div>
        <div class="ui checkbox">
        	<input type="checkbox" id ="usaCitizen" name="user.usaCitizen"> 
					<label for="usaCitizen">Click to confirm you are a citizen of the USA</label>  
        </div>
      </div>
      <button type="submit" class="ui blue submit button">Submit</button>
    </div>
</form>
</section>